@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.heroSection {
    background-image: url(https://images.unsplash.com/photo-1464666495445-5a33228a808e?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    background-position: center;
    filter:grayscale(0.3);
    overflow: hidden;
    cursor: none;
}

.textWrapper {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white ;
}

.heading {
    font-size: 10vw;
    font-family: 'Righteous', cursive;
    filter: drop-shadow(2px 2px 10px #505050);
    padding: 0 1rem;
}

.subheading {
    font-size: 3vw;
    font-weight: 500;
    filter: drop-shadow(2px 2px 10px #505050);
    padding: 0 1rem;
}

.mousePoint {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    padding: 3vw;
    border-radius: 50%;
    z-index: 5;
    scale: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
}

.mouseText {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    filter: drop-shadow(2px 2px 10px #505050);
    color: white;
    cursor: none;
}

.mouseImg {
    filter: drop-shadow(2px 2px 10px #505050);
}

.mouseImg img {
    width: 3vw;
    filter: invert(1);
    transform: rotate(90deg);
}

.salesLive {
    position: absolute;
    top: 6rem;
    right: 2rem;
    background-color: white;
    z-index: 10;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    color: #1d2a51;
    display: flex;
    box-shadow: #1d2a51 0px 8px 15px -8px;
}
.salesLiveText {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.salesLiveText::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: rgb(255, 42, 42);
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0.5;
        scale: 0.5;
    }
    50% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0.5;
        scale: 0.5;
    }
    
}