.wrapper {
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    justify-content: flex-start;
    gap: 1rem;
    transition: all 0.3 ease-in-out;
}

.text {
    display: flex;
    text-align: left;
    font-size: 1rem; 
    transition: all 0.3 ease-in-out;
}

.icon {
    display: flex;
    height: 2rem;

    color: #1d2a51;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #d8ecfd;
    text-transform: uppercase;
    font-weight: 600;
}

.hidden {
    display: none !important;
    transition: all 0.3 ease-in-out;
}
