.detsContainer {
  display: flex;
  gap: 5rem;
  padding: 2rem 1rem;
  background-color: #eef5fd;
}

.expertNote {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  width: 100%;
  border-bottom: #1d2a516d 1px solid;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #1d2a51;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.specs {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: #1d2a51 1px solid;
  padding: 1rem;
  gap: 1rem;
}

.specs > div:not(:first-child) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.specs > div:not(:last-child, :first-child) {
  border-bottom: 1px solid #1d2a5137;
}

.icons {
  height: 3rem;
  width: 3rem;
  color: #1d2a51;
  padding: 0.5rem;
}

.heading::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: #1d2a51;
    display: block;
}
