.detsContainer {
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
}

.expertNote {
    width: 60%;
}

.heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #1d2a51;
}