.productWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.productWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.productDesc {
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    gap: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1d2a51;
    cursor: pointer;
}
.productHead {
    font-size: 1rem;
    font-weight: 700;
}

.priceTag {
    font-size: 0.7rem;
    font-weight: 500;
}

.addToCart {
    font-size: 1.2rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetsHidden {
    display: none;
}

.productDesc:hover .productDetsHidden {
    display: block;
}

@media screen and (max-width: 768px) {
    .productDesc{
        padding: 0.5rem 1rem;
        margin: 0.5rem;
    }

    .productHead {
        font-size: 0.8rem;
    }

    .priceTag {
        font-size: 0.5rem;
    }

    .addToCart {
        font-size: 1rem;
    }

    .productDesc:hover .productDetsHidden {
        display: none;
    }
}